$body-font: 'Epilogue', Helvetica, Arial, sans-serif;
$head-font: 'Calamity', 'Avenir', Helvetica, Arial, sans-serif;

// Text/foreground colors
$fg-color: #fdfbe2;
$fg-color-red: #ff7170;
$fg-color-dim: #898576;
$fg-color-dimmer: #5c594e;

// Body/background colors
$bg-color: rgb(14, 10, 6);
$bg-color-transparent: rgba(14, 10, 6, 0.85);
$bg-color-accent: rgba(249, 237, 180, 0.10);

$border-color: rgba(249, 237, 180, 0.40);

// Breakpoints
$break-large:   980px;  // Wider than this are wide screens
$break-medium:  850px;  // Medium width full-size
$break-mobile:  770px;  // Mobile view
$break-small:   430px;  // Really small screens
$break-tiny:    330px;  // The smallest of screens

// Fixed sizes
$nav-height: 5.3rem;

/**
 * Used for main.sticky-box to have a defined maximum width and customized
 * padding; for when they are the main item on the page.
 */
@mixin standalone-sticky($pref-width, $padding-lr: null, $padding-tb: null) {
  main {
    @media (min-width: $break-mobile) {
      min-width: initial;
      max-width: 95%;
      width: $pref-width;
      padding-left: $padding-lr;
      padding-right: $padding-lr;
      padding-top: $padding-tb;
      padding-bottom: $padding-tb;
    }
  }
}


:export {
  break_mobile: $break-mobile;
  nav_height: $nav-height;
}