label, input, * >>> input {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

label {
  padding-left: 0.75em;
  margin-bottom: 0.5em;
}

input, * >>> input {
  padding: 1em 1em 0.75em;
  border-radius: 0.4rem;
  border: 0;
}

h2 {
  text-align: center;
}

form .button {
  margin-left: auto;
  margin-right: 0;
}

.row {
  margin: 1.25rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row>* {
  flex: 1 0 0;
  margin: 0 0.85rem;
}

.row>*:first-child {
  margin-left: 0;
}

.row>*:last-child {
  margin-right: 0;
}

.errors ul {
  color: var(--red-text);
  list-style-type: none;
  font-style: italic;
  font-size: 92.5%;
}

.errors li+li {
  margin-top: 0.5em;
}

#bottom-buttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#bottom-buttons a {
  font-size: 85%;
  margin: 0.5rem;
}

#bottom-buttons .button {
  width: 60%;
}

@media screen and (max-width: 430px) {
  .row {
    flex-flow: column nowrap;
    margin: 0;
  }

  .row>* {
    flex: initial;
    margin: 0.85rem 0;
  }
}