input, * >>> input {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

input, * >>> input {
  box-sizing: border-box;
  padding: 1em 1.5em 0.75em;
  border-radius: 0.5em;
  border: 0;
  height: 2.77em;
  /* rgb comes from var(--block-color-a) on top of background color */
  background-color: rgb(43, 37, 27);
  color: var(--body-text);
}

input::placeholder, * >>> input::placeholder {
  color: var(--body-text-1);
}

main {
  padding: 2rem;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.8rem;
}

form .button {
  margin-left: auto;
  margin-right: 0;
}

.button, a.button {
  font-family: 'Epilogue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.80em 2.5em 0.7em;
  background-color: transparent;
  color: var(--body-text);
  border: 0.15em solid currentColor;
  border-radius: 0.5em;
  width: fit-content;
  min-width: 10em;
  margin: 0.5em;
}

.danger, a.danger {
  color: var(--red-text);
}

.button:active, .button:focus
a.button:active, a.button:focus {
  color: var(--block-color);
  border-color: var(--body-text);
  background-color: var(--body-text);
}

@media (hover: hover) {
  .button, a.button {
    transition:
      color 125ms linear,
      border-color 125ms linear,
      background-color 125ms linear;
  }

  .button:hover, a.button:hover {
    color: var(--block-color);
    border-color: var(--body-text);
    background-color: var(--body-text);
  }

  .danger:hover, a.danger:hover {
    border-color: var(--red-text);
    background-color: var(--red-text);
  }
}

.icon-button, * >>> .icon-button,
a.icon-button, * >>> a.icon-button {
  padding: 0.6em 1.25em 0.8em;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.icon-button svg, * >>> .icon-button svg {
  font-size: 1.75em;
}

.icon-button span, * >>> .icon-button span {
  padding-top: 0.25em;
  margin-left: 1.50em;
}

.row {
  margin: 1.25rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

/* .row>.button for specificity */
.row>*, .row>.button {
  flex: 1 0 0;
  margin: 0 0.85rem;
}

.row>*:first-child {
  margin-left: 0;
}

.row>*:last-child {
  margin-right: 0;
}

.errors ul, ul.errors {
  color: var(--red-text);
  padding-left: 1.5em;
  list-style-type: none;
  font-style: italic;
  font-size: 92.5%;
}

.errors li+li {
  margin-top: 0.5em;
}

#bottom-buttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#bottom-buttons a {
  color: var(--body-text-1);
  font-size: 80%;
  margin: 0.5rem;
}

@media (max-width: 770px) {
  .icon-button svg, * >>> .icon-button svg {
    font-size: 1.60em;
  }
}

@media (max-width: 430px) {
  .icon-button span, * >>> .icon-button span {
    margin-left: 0.65em;
  }
}