input, * >>> input {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

input, * >>> input {
  box-sizing: border-box;
  padding: 1em 1.5em 0.75em;
  border-radius: 0.4rem;
  border: 0;
  height: 2.77rem;
  background-color: var(--block-color-a);
  color: var(--body-text);
}

input::placeholder, * >>> input::placeholder {
  color: var(--body-text-1);
}

main {
  padding: 2rem;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.8rem;
}

form .button {
  margin-left: auto;
  margin-right: 0;
}

.row {
  margin: 1.25rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

/* .row>.button for specificity */
.row>*, .row>.button {
  flex: 1 0 0;
  margin: 0 0.85rem;
}

.row>*:first-child {
  margin-left: 0;
}

.row>*:last-child {
  margin-right: 0;
}

.errors ul {
  color: var(--red-text);
  padding-left: 1.5em;
  list-style-type: none;
  font-style: italic;
  font-size: 92.5%;
}

.errors li+li {
  margin-top: 0.5em;
}

#bottom-buttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#bottom-buttons a {
  color: var(--body-text-1);
  font-size: 80%;
  margin: 0.5rem;
}